body {
    font-family: "SF Pro Display", sans-serif;
}

.text {
    width: 600px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.button {
    outline: none;
    margin-top: 15px;
    background-color: #2f2a2d;
    padding: 5px 20px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    border-color: #2f2a2d;
    color: #2f2a2d;
}

.color {
    color: #024d4d;
}
